
/* ----------------------------------------------------------------

	extras.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Extra Styles
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here extra styles for demo. Thanks!
-----------------------------------------------------------------*/



.copyright {
	font-size: 0.75rem;
	color: $light;
	line-height: 1;
}

.container-fluid {
	overflow: hidden;
}

.event-date {
	font-family: 'Playfair Display', 'Sans Serif';
}

.feedback {
	input {
		background-color: transparent;
		border-bottom: 1px solid #7b7b7b;
		padding: 0.5rem;
		border-radius: 0;
		color: #7b7b7b;
		width: 100%;
	
		@include media-breakpoint-down(xl) {
				width: 100%;
		}
	
		&:focus {
				box-shadow: none;
		}
	}

	.btn {
		padding: $spacer 0.75rem;
	}
}

.address {
	margin-top: $spacer;
}

.content {
	margin-top: 4.9rem;

	h6 {
		margin-bottom: 3.8rem;
	}
}

@include media-breakpoint-up(xl) {
  .seven-cols .col-xl-1 {
    width: 14.285714285714285714285714285714%;
    *width: 14.285714285714285714285714285714%;
  }
}

.order-n1 {
	@include media-breakpoint-down(xl) {
		order: -1;
	}
}

.about-banner {
	background-image: url(../images/about-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
	padding-top: 5.4rem;
	padding-bottom: 2.32rem;
}

.contact {
	.btn {
		padding: 1.3rem 4.3rem;

		@include media-breakpoint-down(sm) {
			width: 100%;
		}
	}
}

.contact-bg {
	padding-top: 7rem;
	background-color: #f9f9f9;
}

.section-bg {
	background-color: #fceff0;
}

.comment {
	background-color: white;
	padding-top: 3.65rem;
	padding-bottom: 4.8rem;
}

.bg-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: right;
}

.rounded-3 {
	border-radius: 1.3rem !important;
}
