
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer-top {
	background-color: #282828;
	padding-top: 1.5rem;
	padding-bottom: 2.1rem;
}

#footer-bottom {
	background-color: #1d1d1d;
	padding-top: 1.65rem;
	font-size: 0.685rem;
	padding-bottom: 1.78rem;
}
