
/* ----------------------------------------------------------------

	shop.scss

-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Shop
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for shop pages. Thanks!
-----------------------------------------------------------------*/


/* Category
-----------------------------------------------------------------*/
.product-category {
	margin-top: -10.18rem;

	@include media-breakpoint-down(xl) {
		margin-top: $spacer * 2;
	}
}

.category {
	position: relative;
	z-index: 100;

	&:hover {
		.category-image {
			position: relative;
		}

		.category-desc {
			color: $theme-color;
		}
		.category-reload {
			opacity: 1;
		}
	}

	.category-image {
		position: relative;
		padding-left: $spacer * 3;
		padding-right: $spacer * 3;
	}

	.category-desc {
		color: $headings-color;
		font-weight: 350;
		margin-bottom: 0;
		// @include translateY(-50%);
	}

	.category-reload {
		position: absolute;
		top: 50%;
		left: 50%;		
		background-color: transparent;
		text-align: center;		
		opacity: 1;
		@include transition(all 0.3s ease-in-out);
		@include translate3d(-50%, -50%, 0);
		@include media-breakpoint-up(lg) {
			opacity: 0;
		}
	}
}

.category-btn {
	padding: 0.98rem 1.96rem;
	color: $headings-color;
	font-size: 0.812rem;
	font-weight: 700;
	background-color: white;
	border: 1px solid #9f9f9f;
	margin-bottom: 1.875rem;
	
	&:hover, &:active {
		border: 1px solid $primary;
		color: $primary;
	}
}

/* Product
-----------------------------------------------------------------*/
.product {
	position: relative;
	padding-left: 1.92rem;
	padding-right: 2.2rem;
	padding-bottom: 2.29rem;
	font-family: $body-font;
	line-height: 1 !important;
	border: 1px solid #eaeaea;
	border-radius: 6px;
	min-height: 31rem;
	background-color: white;

	.product-image {
    position: relative;
    height: 19.7rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

		a {
			display: inline-block;
			width: 100%;
			position: relative;
		}

		> a:nth-of-type(2) {
			background-color: $white;
			opacity: 0;
			position: absolute;
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			overflow: hidden;
			@include transition(all 0.3s ease-in-out);
		}

		&:hover {
			> a:nth-of-type(2) {
				z-index: 1;
				opacity: 1;
			}
		}
	}

	.onsale, .onhot, .onbest {
		position: absolute;
		top: 1.07rem;
		left: 1.07rem;
		display: flex;
		align-items: center;
		justify-content: center;
		color: white;
		font-size: 0.9375rem;
		border-radius: 50rem;
		line-height: 1;
		text-align: center;
		z-index: 2;
		padding: 0.25rem 0.5rem;
		text-transform: uppercase;
		margin-right: .4rem;
	}

	.onsale {
		background-color: #7657dc;
	}

	.onhot {
		background-color: #000000;
	}

	.onbest {
		background-color: yellow;
		color: $dark;
	}

	.add-to-cart {
		a {
			color: $headings-color;
			display: flex;
			align-items: center;
		
			.cart-description {
				font-size: 0.812rem;
				vertical-align: middle;
				margin-bottom: 0;
				margin-right: 0.9rem;
			}
	
			.cart-icon {
				font-size: 1rem;
				vertical-align: middle;
			}
		}

		a:hover {
			.cart-description {
				color: $primary;
			}

			.cart-icon {
				color: $primary;
			}
		}
	}

	.add-to-wishlist {
		position: absolute;
		top: 1.07rem;
		right: 1.07rem;
		z-index: 100;

		i {
			color:#eac3ca;
			@include transition(all 0.3s ease-in-out);
			
			&:hover {
				color: $primary;
			}
		}
	}

	.product-details {
		z-index: 100 !important;
	
		.product-title {
			color: $headings-color;	
			font-family: $body-font;
			font-size: $h4-font-size;
			font-weight: 350;
			line-height: 1;
			display: inline-block;
			margin-bottom: 0.93rem;
		}

		.product-price {
			color: $headings-color;
			font-family: $heading-font;
			font-size: 1.5rem;
			font-weight: 700;
			line-height: 1;
			display: flex;
			align-items: center;

			del {
				font-size: $h5-font-size;
				color: $headings-color;
				padding-left: 0.5rem;
				margin-bottom: 2.3rem;
			}
		}

		.price-sale {
			color: white;
			font-family: $body-font;
			font-size: 0.9375rem;
			display: inline-block;
			line-height: 1;
			text-align: center;
			z-index: 2;
			padding: 0.25rem 0.5rem;
			background-color: $theme-color;
		}

		.product-info {
			color: #9f9f9f;
			font-size: 1rem;
			font-weight: 350;
			margin-bottom: 1.5rem;

			.color-list {
				width: 0.6rem;
				height: 0.6rem;
				border-radius: 50%;
			}

			.list1 {
				background-color: #e15b73;
			}

			.list2{
				background-color: #af1723;
			}

			.list3 {
				background-color: #f7b0b8;
			}

			.list4 {
				background-color: #d19b8f;
			}

			.list5 {
				background-color: #3c1b14;
			}

			.list6{
				background-color: #8c2529;
			}

			.list7 {
				background-color: #71141f;
			}

			.list8 {
				background-color: #af1723;
			}

			.list9 {
				background-color: #f2ddc8;
			}

			.list10 {
				background-color: #e1a978;
			}

			.list11{
				background-color: #d9ad94;
			}

			.list12 {
				background-color: #dfb696;
			}
		}
	}
}

.product-rating {
	color: $theme-color;
	font-size: 0.75rem;
	padding-bottom: 1.17rem;

	.empty {
		opacity: 0.5;
	}
}

.cart-price {
	padding-left: 0.7rem;
}

.ads {
    position: relative;
    display: block;
	margin-bottom: 1.5rem;

    .ads-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;

        .ads-bg-img {
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
			border-radius: 0.25rem;
        }
    }

    .ads-body {
        position: relative;
        z-index: 1;

		h2 {
			font-weight: 400;
			line-height: 1;
			padding-bottom: 0.5rem;
			margin-bottom: 0;
			font-size: 3.43rem;
		}

		h3 {
			font-size: 1.5rem;
			font-weight: 400;
			line-height: 1.25;
			margin-bottom: 0;
		}

		p {
			line-height: 1.25;
			margin-bottom: 2.4rem;
		}

		span {
			color: $theme-color;
		}
    }

	&.ads1 {
		.ads-body {
			padding: 5.375rem;
		}
	}

	&.ads2 {
		.ads-body {
			padding: 5.375rem;
			padding-bottom: 8.875rem;
		}
	}
}