
/*-----------------------------------------------------------------------------------

	Shortcodes: feature-box.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Featured Boxes
-----------------------------------------------------------------*/


.fbox {
	display: flex;

	.fbox-icon {
		width: 1.5rem;
	}

	span {
		margin-left: 1.5rem;
		line-height: $line-height-base;
	}
}

