
/*-----------------------------------------------------------------------------------

	Shortcodes: headings.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Heading Styles
-----------------------------------------------------------------*/


/* Heading Block - with Subtitle
-----------------------------------------------------------------*/

.heading-block { 
	padding-top: 3.23rem;
	text-align: center;

	.title-img {
		width: 7.6rem;
		margin-bottom: 1.875rem;
	}

	.sub-title {
		font-family: 'Playfair Display', 'Sans Serif';
		font-weight: 700;
		font-style: italic;
		margin-bottom: 1.59rem;
	}

	.title {		
		display: block;
		font-weight: 400;
		line-height: 1;
		margin-bottom: 3.04rem;
	}
}